* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

body {
    background-color: rgb(67, 64, 64);
}

/* NavBar */

.navbar {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    height: 40px;
    width: 150px;
    background-image: url("Image/Netflix-Logo.png");
    background-size: cover;
    padding-bottom: 1rem;
    margin-left: 7rem;
    margin-top: 1rem;
    opacity: 0;
    animation: zoomin 2s ease forwards;
}

@keyframes zoomin {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 1;
    }

    50% {
        transform: scale(1.5, 1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.nav-buttons {
    display: flex;

}

.nav-buttons i {
    position: absolute;
    padding-top: 8px;
    padding-left: 9px;
    color: white;

}

.nav-buttons select {
    padding-left: 2rem;
    font-size: 1rem;
    height: 2rem;
    width: 7rem;
    background-color: black;
    color: white;
    margin-right: 1.5rem;
    border-radius: 0.25rem;

}

.nav-option {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.btn-box {
    height: 35px;
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 0.25rem;
    margin-right: 10rem;
    font-weight: 700;
    padding: 2px 8px 2px 8px;

}

.btn-box:hover {
    background-color: rgb(185, 9, 9);
}


/* Home Content */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Image/hero\ img.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 2rem;

}

.home-content h1 {
    color: white;
    font-size: 3rem;
    font-weight: 10000000;
    width: 70rem;
    opacity: 0;
    animation: slideBottom 1.2s ease forwards;

}

.home-content h2 {
    color: white;
    margin-top: 1.1rem;
    font-weight: 500;
    animation: slideRight 1.2s ease forwards;

}

.hc-p1 {
    color: white;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 500;
    animation: slideLeft 1.2s ease forwards;
}

.home-content input {
    margin-top: 1.2rem;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    display: inline-flex;
    position: relative;
    align-items: center;

    color: rgb(255, 255, 255);
}

.home-content button {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    margin-left: 0.5rem;
    width: auto;
    font-weight: 600;
    border-radius: 0.25rem;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.home-content button:hover {
    background-color: rgb(185, 9, 9);
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
